.login {
    width: 100%;
    min-height: 100vh;
    /* background-image: url("/assets/linear-gradient.png"); */
    background-image: url("/assets/linear-gradient-compressed.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container {
    width: 100%;
    max-width: 420px;
    border-radius: 1rem;

    background: linear-gradient(20deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
    backdrop-filter: blur(20px) saturate(100%);
    -webkit-backdrop-filter: blur(20px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text-section {
    margin-block: 1rem;
}

.text-section h2 {
    color: var(--primary-color);
    letter-spacing: 1px;
    font-size: clamp(1.2rem, 4vw, 1.5rem);
    text-align: center;
    font-weight: 500;
}

.text-section p {
    color: var(--secondary-color);
    font-size: clamp(0.8rem, 2vw, 1rem);
    margin-top: 2px;
}

.form-section {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-section input {
    width: 100%;
}

.form-section p {
    color: var(--input-heading);
}

.password-para {
    margin-top: 0.8rem;
}

.form-section a {
    cursor: pointer;
    align-self: flex-end;
    color: var(--link-text);
    font-size: 0.85rem;
}

.form-container button {
    width: 100%;
    border: none;
    font-size: 1rem;
    border-radius: 10px;
    padding-block: 8px;
    margin-top: 40px;
    font-family: inherit;
    background-color: var(--submit-btn);
    color: var(--primary-color);
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.form-container button:hover {
    background-color: #2A0777;
}

.sign-up-section {
    margin-top: 1rem;
    font-size: 0.85rem;
    color: var(--secondary-color);
}

.sign-up-section a {
    color: var(--link-text);
}

.password-wrapper {
    position: relative;
    width: 100%;
}

.password-wrapper input {
    padding-right: 40px;
    /* space for icon */
}

.eye-icon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: var(--secondary-color);
    font-size: 1rem;
}

.eye-icon:hover {
    color: var(--primary-color);
}